.popup__product-image {
  width: 98px;
  height: 80px;
  overflow: hidden;
}

.popup__product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.input_error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.popup__message {
  text-align: center;
}
